.car-info-wrapper{
  height: 100%;
  position: absolute;
  width: 100%;
}
.car-info-contract {
  width: 6em;
  margin-right: 3em;
  margin-top:-0.5em;
  text-align: right;
}

.spinner svg{
  width: 100% !important;
  height: 100% !important;
}

.car-info-spinner{
  stroke: #ED5505 !important;
  fill: #ED5505 !important;
}

#subheader{
	font-weight: bold;
}
