#signatureCanvas{
  width: 100%;
  border: solid black 1px;
}

.isTimeExceededLabel {
  color: red;
  float: right;
  font-size: 14px;
}

input[name = "contractNumber"]{
  width: 170%;
  border-radius: 3px;
}

input[name = "email"]{
  width: 99% !important;
}
