<ion-view hide-nav-bar="true">
  <div class="scanner-error-body padding">
    <h1 class="scanner-error-text">¡Lo sentimos!</h1>
    <h3 class="scanner-error-text">no se ha podido leer correctamente el código</h3>
    <button class="button button-block button-positive budget-orange-button" ng-click="vm.redirectToScanner()"> Intentarlo de nuevo </button>
    <input-mva></input-mva>
  </div>
</ion-view>
