<input type="email" name="email" id="email" placeholder="info@gmail.com" ng-model="data.email">
<br>
<label>Idioma:</label>
<select name="language" ng-model="data.language"><option value="spanish">Español</option><option value="english">Inglés</option></select>