<ion-view view-title="Envío de correo">
  <div class="bar bar-subheader" id="subheader">
    <h2 class="title">Firma Digital</h2>
  </div>
  <ion-content class="has-header has-subheader padding">
    <form name="signatureForm">
      <div>
        <canvas id="signatureCanvas"></canvas>
      </div>
      <div class="row">
        <button class="button icon-left icon ion-ios-reload button-block" ng-click="vm.clearCanvas()">Limpiar Firma</button>
      </div>
      <div class="list">
        <a class="item item-icon-left" href="#" ng-hide="vm.selectedOption !== 'CarMov' && vm.selectedOption !== 'Other'">
          <i class="icon ion-android-alarm-clock"></i>
          Hora Salida del vehiculo
          <span class="item-note" ng-hide="vm.RevisionService.getRevision().type === 'check-in'">
            {{vm.RevisionService.getTimestamp() | date: 'd-MM-yyyy HH:mm:ss a'}}
          </span>
          <span class="item-note" ng-hide="vm.RevisionService.getRevision().type === 'check-out'">
            {{vm.RevisionService.getCheckOutTime() | date: 'd-MM-yyyy HH:mm:ss a'}}
          </span>
        </a>
        <a class="item item-icon-left" href="#" ng-hide="vm.selectedOption !== 'CarMov' && vm.selectedOption !== 'Other' || vm.RevisionService.getRevision().type === 'check-out'">
          <i class="icon ion-android-alarm-clock"></i>
          Hora entrega del Vehículo
          <span class="item-note">
            {{vm.RevisionService.getTimestamp() | date: 'd-MM-yyyy HH:mm:ss a'}}
          </span>
        </a>
        <a class="item item-icon-left" href="#" ng-hide="vm.selectedOption !== 'CarMov' && vm.selectedOption !== 'Other' || vm.RevisionService.getRevision().type === 'check-out'">
          <i class="icon ion-android-alarm-clock"></i>
          Duración del Traslado
          <span class="item-note" id="deliveryTime">
            {{vm.RevisionService.getDeliveryTimeInfo().deliveryTime | date: 'HH:mm:ss'}}
          </span>
        </a>
        <a class="item item-icon-left" href="#" ng-if="!vm.selectedOption !== 'HomeDelivery' && !vm.selectedOption !== 'CarRent' && vm.selectedOption !== 'CarMov' && vm.selectedOption !== 'Other'" >
          <i class="icon ion-document-text"></i>
          Número de contrato
          <span class="item-note">
            <div class="col-md-10 col-sm-9 car-info-contract">
              <span class="item-note" ng-if="vm.hasPreviousRevision">
                {{vm.contract_number}}
              </span>
              <input type="text" placeholder="123456710" style="margin-left:-10px" size="9" name="contractNumber"
                ng-model="vm.contract_number" pattern="[A-Za-z0-9-]{9}" maxlength="9" ng-if="!vm.hasPreviousRevision"
                onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;" required/>
            </div>
          </span>
        </a>

        <label  ng-if="vm.disabledEmail == 'no'" class="item item-input item-stacked-label" ng-hide="vm.selectedOption != 'HomeDelivery' && vm.selectedOption != 'CarRent'">
          <span class="input-label">Email</span>
          <input type="email" name="email" placeholder="email@budget.com" ng-model="vm.email" autocomplete="off" required>
        </label>
        <label class="item item-input item-select">
          <div class="input-label">
            Lenguaje
          </div>
          <select ng-model="vm.language" ng-options="language.value for language in vm.languages track by language.key">
          </select>
        </label>
      </div>
    </form>
    <div class="tabs button-container">
      <button class="budget-orange-button button button-block button-assertive" ng-disabled="signatureForm.$invalid"
        ng-click="vm.saveCanvas()"> Continuar </button>
    </div>
  </ion-content>
</ion-view>