<ion-view view-title="Revisión de daños">
  <ion-content class="has-header list-inset content-wrapper" ng-controller="CanvasCtrl">
    <div class="carview-container">
      <div class="canvas-wrapper">
        <canvas id="canvas" ng-click="downEvent($event)" resize="true"></canvas>
      </div>
      <div class="observations-wrapper">
        <ion-scroll zooming="false" direction="y">
          <ion-list show-delete=true>
            <ion-item ng-repeat="item in CarViewService.damages" id="item.id" class="item-remove-animate">
              <p>{{item.part}} - {{item.damage_type}} - {{item.severity_type}}</p>
              <ion-delete-button class="ion-minus-circled" ng-click="onItemDelete(item)" ng-disabled="(!isEditable && !item.is_new)">
              </ion-delete-button>
            </ion-item>
          </ion-list>
        </ion-scroll>
      </div>
    </div>
    <div class="tabs button-container">
      <button class="budget-orange-button button button-block button-assertive" ng-click="goToExteriorParts()"> Continuar </button>
    </div>
  </ion-content>
</ion-view>
