<ion-view view-title="Partes del auto">
  <ion-content class="has-header list-inset content-wrapper-carParts">
    <div class="carParts-container">
      <div class="checkbox-item" ng-repeat="accesory in vm.parts">
        <label class="item item-input item-select" for="{{accesory.id}}">
          <div class="input-label">{{accesory.name}}</div>
          <select ng-model="vm.accesory[accesory.key]">
            <option ng-selected="{{selected.value == vm.accesory[accesory.key]}}" ng-repeat="selected in vm.accessorySelectOptions" value={{selected.value}}>{{selected.text}}</option>
          </select>
        </label>
      </div>
      <label class="item item-input item-select" ng-repeat="part in vm.countedParts">
        <div class="input-label">{{part.name}}</div>
        <select ng-model="vm.countedAccesory[part.key]">
          <option>1</option>
          <option>2</option>
        </select>
      </label>
    </div>
    <div class="tabs button-container button-container-carParts">
      <button class="budget-orange-button button button-block button-assertive" ng-click="vm.goToEndOrFeedback()">Continuar</button>
    </div>
  </ion-content>
</ion-view>