<ion-view view-title=""> 
  <ion-content>
    <div class="content has-subheader padding">
      <h2 class="scanner-menu-tittle"> Seleccione una opción</h2>
      <button class="button button-block button-positive budget-orange-button" ng-click="vm.goToScanner()"> Escanear código </button>
      <input-mva></input-mva>
      <button class="button button-block button-positive budget-orange-button" ng-click="vm.goToMovements()"> Volver </button>
    </div>
  </ion-content>
</ion-view>
