<ion-view view-title="Revisión de llantas">
  <ion-content class="has-header has-subheader padding">
    <div class="tireBrands">
      <div class="row">
        <select class="select-tire-brand col" ng-options="tire for tire in vm.tireBrands" ng-model="vm.selectedTires.rightFrontTireSelectedOption">
        </select>
        <div class="col-10"></div>
        <select class="select-tire-brand col" ng-options="tire for tire in vm.tireBrands" ng-model="vm.selectedTires.leftFrontTireSelectedOption">
        </select>
      </div>
      <div>
        <img class="canvas-wrapper" src="{{vm.currentCarType}}">
      </div>
      <div class="row padding-bottom">
        <select class="select-tire-brand col" ng-options="tire for tire in vm.tireBrands" ng-model="vm.selectedTires.leftBackTireSelectedOption">
        </select>
        <div class="col-10"></div>
        <select class="select-tire-brand col" ng-options="tire for tire in vm.tireBrands" ng-model="vm.selectedTires.rightBackTireSelectedOption">
        </select>
      </div>
    </div>
    <div>
      <p class="spareTireText">Llanta de repuesto</p>
      <select class="extraSelect select-tire-brand " ng-options="tire for tire in vm.tireBrands" ng-model="vm.selectedTires.extraTireSelectedOption">
      </select>
    </div>
    <div class="tabs button-container">
      <button class="budget-orange-button button button-block button-assertive" ng-click="vm.goToCarView()"> Continuar </button>
    </div>
  </ion-content>
</ion-view>
