<ion-view view-title="Información del vehículo">
  <div ng-if="vm.isLoaded">
    <div class="bar bar-subheader" id="subheader">
      <h2 class="title">{{vm.RevisionService.getRevision().type}}</h2>
    </div>
    <ion-content class="has-header has-subheader padding">
      <form name="carInfoForm">
        <a class="item item-icon-left" href="#">
          <i class="icon ion-model-s"></i>
          Modelo
          <span class="item-note">
            {{vm.CarInfoFirebaseService.carInfo.model}}
          </span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-information-circled"></i>
          MVA
          <span class="item-note">
            {{vm.CarInfoFirebaseService.carInfo.MVA}}
          </span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-android-car"></i>
          Placa
          <span class="item-note">
            {{vm.CarInfoFirebaseService.carInfo.license_plate}}
          </span>
        </a>
        <a class="item item-icon-left" href="#">
          <i class="icon ion-key"></i>
          Llave
          <span class="item-note">
            {{vm.CarInfoFirebaseService.carInfo.key}}
          </span>
        </a>
        <a class="item item-icon-left" href="#" ng-hide="vm.selectedOption != 'CarMov' && vm.selectedOption != 'Other'">
          <i class="icon ion-person"></i>
          Conductor
          <span class="item-note">
            <input type="text" size=30 style="width:110px" name="drive" ng-model="vm.drive" maxlength="30" autocomplete="off"
              spellcheck="false" />
          </span>
        </a>
        <a class="item item-icon-left" href="#" ng-hide="vm.selectedOption != 'CarMov' && vm.selectedOption != 'Other'">
          <i class="icon ion-iphone"></i>
          Celular
          <span class="item-note">
            <input type="text" size=10 maxlength="8" onKeypress="if (event.keyCode < 45 || event.keyCode > 57) event.returnValue = false;"
              style="width:110px" name="phone" ng-model="vm.phone" autocomplete="off" spellcheck="false" />
          </span>
        </a>
        <div class="tabs button-container">
          <button class="budget-orange-button button button-block button-assertive" type="submit" ng-disabled="carInfoForm.$invalid"
            ng-click="!vm.goToCarView()"> Continuar </button>
        </div>
      </form>
    </ion-content>
  </div>
</ion-view>
<ion-view ng-if="!vm.isLoaded">
  <ion-content>
    <ion-spinner class="car-info-spinner" icon="ripple"></ion-spinner>
  </ion-content>
</ion-view>