<ion-view view-title="" >
    <ion-content>
      <div class="content has-subheader padding">
        <h2 class="monements" align="center"> Seleccione una opción </h2>
        <button class="button button-block button-positive budget-orange-button" ng-click="vm.goToCarRent()"> Alquiler del vehículo </button>
        <button class="button button-block button-positive budget-button-color" ng-click="vm.goToHomeDelivery()"> Entrega a domicilio </button>
        <button class="button button-block button-positive budget-orange-button" ng-click="vm.goToCarMov()"> Traslado del vehículo </button>
        <button class="button button-block button-positive budget-button-color" ng-click="vm.goToCarOther()"> Uso no productivo </button>
        <button class="button button-block button-positive budget-orange-button" ng-click="vm.goToLogin()"> Salir </button>
      </div>
    </ion-content>
</ion-view>